services:
  web:
    build: .
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/fastapi_app
      - SYNC_DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_DB=fastapi_app
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - fastapiapp-db-data:/var/lib/postgresql/data/pgdata
volumes:
  fastapiapp-db-data: